<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Les trous dans le fut</a>
        </div>
        <div  class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class=""><a href="/description" class="navbar-link">Les trous dans le fut</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les séssions de dégustrations <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="valLoire">Le val de loire</a></li>
                    <li><a href="valleeRhone">La vallée du Rhone</a></li>
                    <li><a href="#">Bordeau</a></li>
                </ul>
            </li>
            <li class=""><a href="/regionvin" class="navbar-link">Les rencontres</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        </div>
    </div>
</nav>
