<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Les erreurs</title>
</head>
<body>
<section>
    <p>
        Il y a une erreur dans le code.

        Désolé
    </p>
</section>

</body>
</html>