<!DOCTYPE html>
<html lang="fr">
<head>

   <% include partials/head %>

</head>
<body>



<% include partials/header.ejs %>


<h1 class="index-title">La confrerie des trous dans le fut</h1>
<img src="images/verres.jpg" alt="verres de vins" class="img-responsive index-img">

<section class="">
    <div class="panel-title">
        <%= title %>
    </div>

    <div>
        <%=toto%>

    </div>
</section>

<% include partials/footer.ejs %>

</body>
</html>