<!DOCTYPE html>
<html lang="fr">
<head>

    <% include ../partials/head.ejs %>

</head>
<body>

    <% include ../partials/header.ejs %>

    <section>
        <div>
            <p>
                Descrition de notre confrerie,
                nos motivations et le but de notre Quete.
            </p>
        </div>
    </section>


</body>
</html>