<!DOCTYPE html>
<html lang="fr">
<head>

    <% include ../partials/head %>

</head>
<body>

    <% include ../partials/header.ejs %>

<section>
    <h2 class="titreSection">Session N°1</h2>
    <div>
        <P>
            La premeière session de dégustation nous a permi decouvrir la région du val de loire
        </P>
    </div>
</section>

    <section>
        <h2 class="titreSection">Session N°2</h2>
        <div>
            <P>
                Pour la seconde session de dégustation nous avons voyagé dans la vallée du Rhone
            </P>
        </div>
    </section>

    <% include ../partials/footer.ejs %>

</body>
</html>