<!DOCTYPE html>
<html lang="fr">
<head>

    <% include ../partials/head.ejs %>

</head>
<body>

<% include ../partials/header.ejs %>

<section>
    La descrition des vins de la vallée du Rhone
</section>


<% include ../partials/footer.ejs %>

</body>
</html>