<!DOCTYPE html>
<html lang="fr">
<head>

    <% include ../partials/head.ejs %>

</head>
<body>

    <% include ../partials/header.ejs %>

    <section class="headValleLoire">
        <img src="images/valleLoire-banner.jpg" alt="Le val de Loire" class="headImgValleLoire">
    </section>
    <section>
        La descrition des vins du val de loire
    </section>


<% include ../partials/footer.ejs %>

</body>
</html>